<div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Trending Stocks</li>
<!--               <li class="active"><a href="#">Web Applications</a></li>
 -->              <li><a href="#">Google Inc.</a></li>
              <li><a href="#">Apple Inc.</a></li>
              <li><a href="#">Amazon Inc.</a></li>
              <li><a href="#">Microsoft</a></li>
              <li class="nav-header">Bidu Inc.</li>
              <li><a href="#">Chipotle</a></li>
              <li><a href="#">Walmart</a></li>
               <li><a href="#">Starbucks Inc.</a></li>
              <li><a href="#">Yahoo Inc.</a></li>
              <li><a href="#">Ebay Inc.</a></li>
              <li class="nav-header">Other Feature</li>
              <li><a href="#">Accrue Stock of the Day</a></li>
              <li><a href="#">News and Trends</a></li>
              <li><a href="#">Market Analysis</a></li>
  
             
              <!-- 
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li> -->
             <!--  <li class="nav-header">Consulting</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li> -->
            </ul>
          </div><!--/.well -->
        </div><!--/span-->



<div class="hero-unit span9">
          
          <div class="row-fluid">
            <div class="span4">
              <h2>Accrue Score</h2>
              <h3> 55/100 (55%) </h3>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Month's Probability</h2>
              <h3>67/100 (67%) </h3>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Today's probability</h2>
              <h3>77/100 (77%) </h3>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->


<div class="hero-unit">
      <div class="row-fluid">
<%= link_to "<<Back", :back %>   
  <h2>Stock Quote for <%= @quote.name %></h2>
  <ul class="data">
  <li><span class="sub_headings">Date:</span> <%= @quote.date %></li>
  <li><span class="sub_headings">Time:</span>  <%= @quote.time %></li>
  <li><span class="sub_headings">Day High:</span>  <%= @quote.dayHigh %></li>
  <li><span class="sub_headings">Day Low:</span>  <%= @quote.dayLow %></li>
  <li><span class="sub_headings">Last Trade:</span>  <%= @quote.lastTrade %></li>
  <li><span class="sub_headings">Symbol:</span>  <%= @quote.symbol %></li>
  </ul>
  


</div> 
</div> 



 